body{
  background-color: aqua;
}
div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

.card{
    min-height: 300px;
    min-width: 300px;
    margin-right: 5px;
}