.libutton{
    background-color:transparent;
    border-color: transparent;
}

.dropdown-item{
    color: aliceblue;
}

.navbar{
    font-family: "Courier";
}

.dropdown-menu{
    background-color: rgba(38, 45, 79, 0.325);
}
